.container {
    display: grid;
    grid-template-rows: 10vh 15vh 90vh repeat(4, min-content);

    @media only screen and (max-width: $bp-largest) {
        grid-template-rows: 7vh 9vh 60vh repeat(4, min-content);
    }

    @media only screen and (max-width: $bp-large) {
        grid-template-rows: 5vh 7vh 47vh repeat(4, min-content);
    }

    @media only screen and (max-width: $bp-small) {
        grid-template-rows: 3vh 0vh 50vh repeat(4, min-content);
    }

    grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] 1fr [full-end];

    @media only screen and (max-width: $bp-smallest) {
        grid-template-columns: [full-start] min-content [center-start] repeat(5, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] min-content [full-end];
    }
}