// COLORS
$color-primary: #F9F871;
$color-secondary:#d3d3d3;

$color-green: #2ee016;
$color-red: #FF0000;
$color-black: #000;
$color-white: #fff;


// FONTS
$font-primary: "Bangers", sans-serif;
$font-secondary: "Nunito Sans", sans-serif;


// RESPONSIVE BREAKPOINTS
$bp-hi-res: 80.0625em; //1281px div by 16px
$bp-largest: 64.0625em; //1025px div by 16px
$bp-large: 50.0625em; //801px div by 16px
$bp-mid: 37.5em; //600px div by 16px
$bp-small: 30em; //480px div by 16px
$bp-smallest: 20em; //320px div by 16px
